/* GetStart.css */

.hero-container-form {
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.get-start-container-form {
  width: 130%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.152);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 7, 9, 0.827);
}

.risk {
  color: #ff0000;
}

.get-start-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.get-start-heading {
  text-align: center;
  color: #f9f9f9;
}

.input-container {
  margin-bottom: 20px;
  color: #f3eeee;
  font-size: x-large;
}
.input-container-result {
  font-size: large;
  color: azure;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #000000;
}

label.active {
  color: #000000;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.btnn {
  background-color: transparent;
  color: #ffffff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
